{% extends 'base.twig' %}
{% from 'utils.twig' import checkin_span %}
{% from 'utils.twig' import leave_span %}
{% from 'utils.twig' import null_span %}
{% from 'utils.twig' import weekpicker %}

{%block page_title %}{{ '打卡情况' }}{% endblock %}

{% block main_content %}
    {% spaceless %}
    <div class="row">
        <div class="col-md-12">
            <div class="lead">
                <h3>{{ '<< 打卡情况 ('~start|date('m.d')~'~'~end|date('m.d')~') >>' }}</h3>
                <form role="form">
                    <div class="form-group">
                        {{ weekpicker('userweekpick', start, end) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Go</button>
            </form>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-condensed">
                <tr>
                    <th width="20%" class="text-right">成员/日期</th>
                    {% for d in _range %}
                    <th>{{ d|date('D') }} <span class="hidden-xs hidden-sm">{{ date|date(' (m-d)') }}</span></th>
                    {% endfor %}
                </tr>

                {% for qqno, nick in _qqusers %}
                <tr>
                    <td class="text-right"> <a href="{{ path_for('user-view', {group: group, qqno: qqno}) }}">{{ nick }}</a></td>

                    {% for date in _range %}
                    <td>
                        {% if not _checkins[qqno][date] and not _leaves[qqno][date] %}
                        {{ null_span() }}
                        {% else %}
                            {% if _checkins[qqno][date] %}
                                {% for c in _checkins[qqno][date] %}
                                    {{ checkin_span(c) }}
                                {% endfor %}
                            {% elseif _leaves[qqno][date] %}
                                {% for c in _leaves[qqno][date] %}
                                    {{ leave_span(c) }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endspaceless %}
{% endblock %}