<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block page_title %}{% endblock %} - ScalersTalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/boot-weekpicker.css">
    {% block page_link %}{% endblock %}
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          {% if isadmin %}
          <li role="presentation"{# class="active" #}><a href="{{ path_for('admin-home') }}">管理页面</a></li>
          <li role="presentation"><a href="{{ path_for('auth-logout') }}">退出登录</a></li>
          {% endif %}
          {% if group %}
          <li role="presentation"><a href="{{ path_for('user-view', {group:group}) }}">成员入口</a></li>
          {% endif %}
          {% if urlRule %}
          <li role="presentation"><a href="{{ urlRule }}" target="_blank">打卡规则</a></li>
          {% endif %}
          {% if lastUpdated %}
          <li role="presentation" class="disabled"><a href="#">最后更新时间: {{ lastUpdated|date("Y-m-d H:i:s") }}</a></li>
          {% endif%}
        </ul>
        {% block  main_content %}{% endblock %}
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/plugins/boot-weekpicker.js"></script>
    {% block page_script_src %}{% endblock %}
    <script type="text/javascript">
    $(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    {% block page_script %}{% endblock %}
    </script>
  </body>
</html>