{% extends 'base.twig' %}
{% from 'utils.twig' import checkin_span %}
{% from 'utils.twig' import leave_span %}
{% from 'utils.twig' import null_span %}

{%block page_title %}{{ _nick }}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ '<< '~_nick~' >>' }}</h1>
            <table class="table table-checkin">
                <tr>
                    <th width="20%">日期</th>
                    <th>记录</th>
                </tr>
                {% for date in _range %}
                <tr>
                    <td>{{ date|date('Y-m-d') }}</td>
                    <td>
                        {% if not _checkins[date] and not _leaves[date] %}
                        {% null_span()%}
                        {% else %}
                            {% if _checkins[date] %}
                                {% for c in _checkins[date] %}
                                    {{ checkin_span(c) }}
                                {% endfor %}
                            {% elseif _leaves[date] %}
                                {% for c in _leaves[date] %}
                                    {{ leave_span(c) }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}