{% extends 'base.twig' %}
{% from 'utils.twig' import checkin_span %}
{% from 'utils.twig' import leave_span %}
{% from 'utils.twig' import null_span %}
{% from 'utils.twig' import weekpicker %}

{%block page_title %}{{ _nick }}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ '<< '~_nick~' ('~start|date('m.d')~'~'~end|date('m.d')~') >>' }}</h1>
            <form class="form-inline" role="form">
                <div class="form-group">
                    {{ weekpicker('userweekpick', start, end) }}
                </div>
                <button type="submit" class="btn btn-primary">Go</button>
            </form>
            <br>
        </div>
        <div class="col-xs-12">
            <table class="table table-striped table-condensed">
                <tr>
                    <th width="20%" class="text-right">日期</th>
                    <th>记录</th>
                </tr>
                {% for date in _range %}
                <tr>
                    <td class="text-right">{{ date|date('D (m-d)') }}</td>
                    <td>
                        {% if not _checkins[date] and not _leaves[date] %}
                        {{ null_span() }}
                        {% else %}
                            {% if _checkins[date] %}
                                {% for c in _checkins[date] %}
                                    {{ checkin_span(c) }}
                                {% endfor %}
                            {% elseif _leaves[date] %}
                                {% for c in _leaves[date] %}
                                    {{ leave_span(c) }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}