{% macro checkin_span(c) %}
    {% set clazz = 'do2 do-'~c.itemkey %}
    {% set title = c.item %}

    {% if not c.isvalid %}
        {# 无效 #}
        {% set clazz = clazz ~ ' do-invalid' %}
        {% set title = title ~ '('~c.when|date('m-d')~'补)(超期补卡或验证无效)' %}
    {% else %}

        {# 正确率 #}
        {% set title = title ~ (c.rate > 0 ? '('~c.rate~'%)' : '') %}

        {# 补卡 #}
        {% if c.isfill %}
            {% set clazz = clazz ~ ' do-fill' %}
            {% set title = title ~ c.when|date('(m-d补)') %}
        {% endif %}
    {% endif %}
    <span class="{{ clazz }}" title="{{ title }}" data-toggle="tooltip" data-placement="top">
      {% if title|first == '#' %}
      {{ title|replace({'#':''})|first }}
      {% else %}
      {{ title|first }}
      {% endif %}
    </span>
{% endmacro %}

{% macro leave_span(c) %}
    {% set clazz = 'do2 do-'~c.itemkey %}
    {% set title = c.date|date('m-d')~'请假' %}
    {% if not c.isvalid %}
        {% set clazz = clazz ~ ' do-invalid' %}
        {% set title = title ~ '('~c.when|date('m-d')~'向前补假无效)' %}
        {{ _self.null_span() }}
    {% endif %}
    <span class="{{ clazz }}" title="{{ title }}" data-toggle="tooltip" data-placement="top">假</span>
{% endmacro %}

{% macro null_span() %}
    <span class="do2 do-null">旷</span>
{% endmacro %}

{% macro weekpicker(cid, start, end) %}
<div class="input-group col-md-6 col-xs-12 col-sm-9">
  <div class="input-group-addon">
      <a href="javascript:$('#{{ cid }}').aweekpicker_prev();">prev.</a>
  </div>
  <input value="{{ start|date("y-m-d") }} to {{ end|date("y-m-d") }}" class="form-control" name="dateRange" id="{{ cid }}" style="background-color: white"/>
  <div class="input-group-addon">
      <a href="javascript:$('#{{ cid }}').aweekpicker_next();">next.</a>
  </div>
</div>
<script>
  $(function() {
    console.log("$('#{{ cid }}').aweekpicker()");
    $('#{{ cid }}').aweekpicker();
  });
</script>
{% endmacro %}

{% macro multipleselect(items, fk, fv, selected) %}
<select multiple="multiple">
    {% for item in items %}
    <option value="{{ item[fk] }}" {{ (item[fk] in selected) ? 'selected="selected"' : '' }}>{{ item[fv] }}</option>
    {% endfor %}
</select>
{% endmacro %}